<%= form_for([@event, @ad]) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :required => true %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :required => true %>
  </div>
  <div class="field">
    <%= f.label :start_date %>(This event starts on <%= @event.start_date.strftime("%m/%d/%Y") %> your ad start date must match or start after this date.)<br />
    <%= f.datetime_local_field :start_date, :required => true %>
  </div>
  <div class="field">
    <%= f.label :termination_date %>(This event ends on <%= @event.termination_date.strftime("%m/%d/%Y") %> your ad end date must match or end before this date.)<br />
    <%= f.datetime_local_field :termination_date, :required => true  %>
  </div>
  <div class="field">
      <%= f.label 'Picture Upload' %><br />
      <%= f.file_field :file %><br /><br />
      <%= image_tag @ad.file.url(:medium) %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
