<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ad.title %>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>


<%= link_to 'Edit', edit_event_ad_path(@ad.event, @ad) %> |
<%= link_to 'Back', event_ads_path(@ad.event) %>
