<td><%= image_tag @ad.file.url(:medium) %></td>
<p>
  <b>Title:</b>
  <h1><%= @ad.title %></h1>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>
<p>
  <b>Dates at Event:</b>
  <%= @ad.start_date.strftime("%d %b, %Y") %> - <%= @ad.termination_date.strftime("%d %b, %Y") %>
</p>


<% if current_user %>
  <% if current_user.id == @ad.user_id %>
  <%= link_to 'Edit', edit_event_ad_path(@event, @ad) %></td>
  <%= link_to 'Destroy', event_ad_path(@event, @ad), :confirm => 'Are you sure?', method: :delete %></td>
  <% end %>
<% end %>
<%= link_to 'Back', event_path(@event.id) %>

<%= render 'disqus' %>
