<script type="text/javascript">
function initMap() {}
</script>
<script type="text/javascript"> 
  $(document).ready( function() {
    $('#texttohide').delay(5000).fadeOut();
  });
</script>
<p id="texttohide" class="loading">It may take a moment to obtain your current location. Please wait</p> 
<h1>Events</h1>
<table class="card table col s12 m8">
  <thead>
    <h3>Your Location & Events Circles:</h3>
<!--     <tr>
      <th colspan="4">
      <h4>Latitude:</h4></th>
      <th colspan="4">
      <h4>Longitude:</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4">
        <p id="latr">
        </p>
      </td>
      <td colspan="4">
        <p id="longr">
        </p>
      </td>
    </tr>  -->
  </tbody>
</table>
<div class="card">
<script type="text/javascript">
$(document).ready(initMap());
$(document).ready(navigator.geolocation.getCurrentPosition(locationSuccess, locationFail));
</script>
<div id="map" style="position: auto; overflow: auto; height: 400px; width: auto;"></div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_key'] %>&callback=initMap">
  </script>
  </div>
<table class="card table highlight s10">
  <thead>
    <h3>Events</h3>
    <tr>
      <th class="col" colspan="3">
      <h7>Title:</h7></th>
      <th colspan="col" colspan="3">
      <h7>Location:</h7></th>
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>
    <% @events.each do |event| %>
    <tr>
      <tr>
      <td colspan="3">
        <image class="circle"><%= image_tag event.file.url(:thumb) %></image>
      </td>
      </tr>
      <td colspan="3">
        <a href="<%= event_path(event) %>">
          <%= event.title %>
        </a>
      </td>
      <td id="event<%= count %>_latitude" colspan="3">
        <sub><%= event.address %></sub>
      </td>
      <tr>
      <td class="hide-on-med-and-down" colspan="4">
        <div class="divider hide-on-med-and-down"></div>
        <sub><%= event.description %></sub>
      </td>
      </tr>
    </tr>
    <% count += 1 %>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', root_path %>
<% if current_user %>
  <%= link_to 'New Event', new_event_path %>
<% end %>