<p id="notice">
  <%= notice %>
</p>
<h1>Events</h1>
<table>
  <thead>
    <h3>User</h3>
    <tr>
      <th colspan="4">
        <h4>Latitude:</h4></th>
      <th colspan="4">
        <h4>Longitude:</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4">
        <p id="latr">
        </p>
      </td>
      <td colspan="4">
        <p id="longr">
        </p>
      </td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <h3>Event</h3>
    <tr>
      <th colspan="4">
        <h4>Latitude:</h4></th>
      <th colspan="4">
        <h4>Longitude:</h4></th>
      <th colspan="4">
        <h4>Radius:</h4></th>
      <th colspan="4">
        <h4>Image:</h4></th>
      <th colspan="4">
        <h4>Title:</h4></th>
      <th colspan="4">
        <h4>Description:</h4></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td colspan="4">
          <%= event.latitude %>
        </td>
        <td colspan="4">
          <%= event.longitude %>
        </td>
        <td colspan="4">
          <%= event.radius %>
        </td>
        <td colspan="4">
          <%= image_tag event.file.url(:thumb) %>
        </td>
        <td colspan="4">
          <a href="<%= event_path(event) %>">
            <%= event.title %>
          </a>
        </td>
        <td colspan="4">
          <%= event.description %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
<br>
<% if current_user %>
  <%= link_to 'New Event', new_event_path %>
    <% end %>
      <%= link_to 'Back', root_path %>
