<p id="notice">
  <%= notice %>
</p>
<h1>Events</h1>
<table>
  <thead>
    <tr>
      <th colspan="3">Lat:</th>
      <th colspan="3">Long:</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3">
        <p id="latr">
        </p>
        </td>
        <td colspan="3">
        <p id="longr">
        </p>
        </td>
      </tr>
    </tbody>
</table>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= image_tag event.file.url(:thumb) %></td>
        <td>
          <a href="<%= event_path(event) %>">
            <%= event.title %>
          </a>
        </td>
        <td>
          <%= event.description %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
<br>
<% if current_user %>
  <%= link_to 'New Event', new_event_path %>
    <% end %>
      <%= link_to 'Back', root_path %>
