<h1>New Event</h1>

<%= form_with(model: @event, local: true, multipart: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @event, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :required => true %><br>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :required => true %><br>
  </div>
  <div class="field">
    <%= f.datetime_local_field :termination_date %>
  </div>
  <div class="field">
      <%= f.label 'Picture Upload' %><br />
      <%= f.file_field :file %><br /><br />
      <%= image_tag @event.file.url(:medium) %><br />
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, :required => true %><br>
  </div>
  <div class="field">
    <%= f.label :radius %><br />
    <%= f.select :radius, [1, 2, 3, 4, 5], :required => true %><br>
  </div>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2eoWCYtVteHt6JoSFGW-WUjXT2nUJEEU&callback=initMap">
    </script>
  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>

<% end %>


<%= link_to 'Back', events_path %>
