<p id="notice"><%= notice %></p>
<h1>
<%= @event.title %>
</h1>
<h2>
<%= @event.description %>
</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.map do |ad| %>
  <tr>
    <td><%= ad.title %></td>
    <td><%= ad.description %></td>
    <td><%= link_to 'Show', [ad.event, ad] %></td>
    <td><%= link_to 'Edit', edit_event_ad_path(ad.event, ad) %></td>
    <td><%= link_to 'Destroy', [ad.event, ad], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Create Ad', new_event_ad_path(@event.id) %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
