<p id="notice"><%= notice %></p>
<h1>
<%= @event.title %>
</h1>
<h2>
<%= @event.description %>
</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.map do |ad| %>
  <tr>
    <td>
      <a href="<%= event_ad_path(ad.event, ad) %>">
        <%= ad.title %>
      </a>
    </td>
    <td><%= ad.description %></td>
    <% if current_user %>
      <% if current_user.id == ad.user_id %>
      <td><%= link_to 'Edit', edit_event_ad_path(ad) %></td>
      <td><%= link_to 'Destroy', event_ad_path(ad), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    <% end %>
  </tr>
  <% end %>
</table>
  <%= link_to 'Create Ad', new_event_ad_path(@event.id) %> |
  <% if current_user %>
    <% if current_user.id == @event.user_id %>
    <%= link_to 'Edit Event', edit_event_path(@event) %> |
    <% end %>
  <% end %>
<%= link_to 'Back', events_path %>
