<span><%= image_tag @event.file.url(:medium) %></span>
<h1>
<%= @event.title %>
</h1>
<h2>
<%= @event.description %>
</h2>
<p>Address: <%= @event.address %></p>
<p>Coordinates: <%= @event.latitude %>, <%= @event.longitude %></p>
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
  <iframe
    width="100%"
    height="350"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['google_maps_key'] %>&q=<%= @event.latitude.floor(5) %>,<%= @event.longitude.floor(5) %>" allowfullscreen>
  </iframe>

<% @ads.map do |ad| %>
  <tr>
    <td><%= image_tag ad.file.url(:thumb) %></td>
    <td>
      <a href="<%= event_ad_path(ad.event, ad) %>">
        <%= ad.title %>
      </a>
    </td>
    <td><%= ad.description %></td>
    <% if current_user %>
      <% if current_user.id == ad.user_id %>
      <td><%= link_to 'Edit', edit_event_ad_path(ad.event, ad) %></td>
      <td><%= link_to 'Destroy', event_ad_path(ad.event, ad), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    <% end %>
  </tr>
  <% end %>
</table>
  <%= link_to 'Create Ad', new_event_ad_path(@event.id) %> |
  <% if current_user %>
    <% if current_user.id == @event.user_id %>
    <%= link_to 'Edit Event', edit_event_path(@event) %> |
    <% end %>
  <% end %>
<%= link_to 'Back', events_path %>
