<!DOCTYPE html>
<html>
  <head>
    <title>FestiSwap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <ul>
     <% if current_user %>
     <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>

      <p>Hello, <%= current_user.name %>!</p>
      <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

     <% else %>
       <li><%= link_to 'Register', new_user_registration_path %></li>
       <li><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
    </ul>
    </nav>
    <%= yield %>
  </body>
</html>
